<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njkgkj.nkg_hy.user.dao.IUserDao">
    <select id="findAllUsers" parameterType="com.njkgkj.nkg_hy.user.entity.UserEntity"
            resultType="com.njkgkj.nkg_hy.user.entity.UserEntity">
    SELECT * FROM "NKGHY_Userinfo"
    WHERE 1 = 1
</select>
</mapper>